target
.idea
out
gh-pages
HdrHistogram.iml
.classpath
.project
.settings
release.properties
pom.xml.releaseBackup
release-pom.xml
src/main/java/org/HdrHistogram/Version.java
/bin
alltests
format_example
*.a
*.iml
.sconsign.dblite
*.o
*.os
src/main/csharp/bin/*
src/main/csharp/obj/*
src/test/csharp/bin/*
src/test/csharp/obj/*
src/examples/csharp/bin/*
src/examples/csharp/obj/*
src/vs2013/packages/*
src/vs2013/HdrHistogram.NET.v12.suo
*.csproj.user
*.DotSettings.user
HdrHistogram.jar
vs2013/packages/
*.suo
.DS_Store
build
