target
.idea
out
gh-pages
HdrHistogram.iml
.classpath
.project
.settings
release.properties
pom.xml.releaseBackup
src/main/java/org/HdrHistogram/Version.java
/bin
alltests
format_example
*.a
*.iml
.sconsign.dblite
*.o
*.os
src/main/csharp/bin/*
src/main/csharp/obj/*
src/test/csharp/bin/*
src/test/csharp/obj/*
src/examples/csharp/bin/*
src/examples/csharp/obj/*
vs2015/packages/*
*.csproj.user
*.DotSettings.user
HdrHistogram.jar
vs2015/packages/
*.suo
.DS_Store
build
