name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn package --file pom.xml
      
  test:

    runs-on: ubuntu-18.04
    strategy:
      matrix:
        java: [ 7, 7.0.181, 8, 8.0.192, 9, 10, 11, 11.0.3, 12, 13 ]
    name: Java ${{ matrix.java }} Test

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Test with Maven
      run: mvn test --file pom.xml
